*{margin: 0;
padding: 0;}

.countainer{
    height: 100vh;
    width: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    /* border: 1px solid black; */
    height: 30rem;
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
.jok{
    border: 4px solid skyblue;
    font-size: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 9px;
    display: flex;
    align-items: center;
  border-radius: 400px;
  background-color: black;
  color: white;
    height: 40%;
    box-shadow: 12px 12px 70px  skyblue;
}
.btn{
    height: 2.5rem;
    width: 5rem;
    background-color:aquamarine;
    border: none;
    font-weight: 800;
    box-shadow: 12px 12px 70px  black;
}
.btn:hover{
    background-color: aqua;
}










